  #heading {
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    float: none;
    padding: 10px;
  }

  .headingDiv {
    padding: 10px;
    float: none;
    background: white;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
  }

  .headingDiv2 {
    font-size: 18px;
  }

  .result_para_tag {
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span {
    white-space: pre-line
  }
 .copyRightFooter{
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  box-shadow: 5px 5px 5px black;
  color: purple;
  background-color: black;
  }
  canvas {
    border: 10px solid black;
    box-shadow: 15px 15px 15px purple;
    border-radius: 30px;
  }